PORT=4000
EVALUATION_SERVICE_URL=http://20.207.122.201
EVALUATION_REGISTER_PATH=/evaluation-service/register
EVALUATION_AUTH_PATH=/evaluation-service/auth
EVALUATION_NOTIFICATIONS_PATH=/evaluation-service/notifications
EVALUATION_LOGS_PATH=/evaluation-service/logs
ENABLE_MOCK_FALLBACK=false
REGISTRATION_EMAIL=your_email@example.com
REGISTRATION_NAME=Your Name
REGISTRATION_MOBILE_NO=9999999999
REGISTRATION_GITHUB_USERNAME=your-github-username
REGISTRATION_ROLL_NO=YOUR_ROLL_NO
REGISTRATION_ACCESS_CODE=YOUR_ACCESS_CODE
